!!!
%html{:lang => "en"}
  %head
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}
  %body
    .navbar
      .navbar-inner
        .container
          .brand
            Nagios Alerts
    .container
      %table#alerts.table.table-striped
        %thead
          %tr
            %th Severity
            %th Service
            %th Desc
            %th Server
            %th Source
            %th Date
            %th Host Address
            %th Additional Info
            %th Event Type
        %tbody
          %tr
            %td
    %script{:src => "/js/jquery-1.9.1.js"}
    %script{:src => "/js/json_parse.js"}
    %script{:src => "/js/app.js"}

